/* selector {
    property: value;
} */

/* tag name selector */
h1 {
    color: black;
}

h2 {
    color: gray;
}

/* id selector */
#heading-2 {
    color: green;
    font-family: 'Pacifico',cursive;
    font-size: 40px;
}

/* class selector */
.text-right {
    text-align: right;
}

/* text-transform
font-weight */

#background-ele {
    height: 500px;
    width: 100%;
    background-color: aqua;
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/armored-samurai-nicklas-gustafsson.jpg");
    background-size: cover;
    back
    
}
.bg-white {
    background-color: white;
    height: 500px;
    width: 100%;

}

.text-right {
    text-align: initial
}









